<mat-tab-group dynamicHeight>
    <mat-tab label="Short tab">
        <div class="example-small-box mat-elevation-z4">
            <!-- Main table -->
            <br/>
            <app-main-table></app-main-table>
            <br/>
        </div>
    </mat-tab>
    <mat-tab label="Long tab">
        <div class="Notes_box">
            <!-- Extra Table for notes maybe -->
            <p>
                <br />
                <mat-form-field appearance="outline">
                    <mat-label>Outline form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </p>
            <!-- 
            <mat-form-field>
                <mat-label>Textarea</mat-label>
                <textarea matInput></textarea>
                <br>
                <input type="submit" name="submitInfo" value="Submit">
            </mat-form-field>
            -->
            <form action="/form/submit" method="post">
                <textarea> </textarea>
                <br>
                <input type="submit" name="submitInfo" value="Submit">
            </form>
            <!-- <app-home-page></app-home-page> -->
        </div>
    </mat-tab>
</mat-tab-group>