.sidenav-container {
    width: auto;
    height: 1080px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .sidenav-content {
    display: flex;
    height: 100%;
    align-items: left;
    padding-top: 5px;
  }
  
  .sidenav {
    padding: 20px;
  }
  

table {
  align-items: center;
  width: 100%;
  padding: 20;
}

.mat-sorta {
  align-items: center;
  width: 100%;
  padding: 10px;
}

th.mat-sort-header-sorted {
  color: black;
}

/*
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

*/