.sidenav-container {
    width: auto;
    height: 1080px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .sidenav-content {
    display: flex;
    height: 100%;
    align-items: left;
  }
  
  .sidenav {
    padding: 20px;
<<<<<<< HEAD
  }
=======
  }
>>>>>>> 9fbf6e0 (Broke table so removing it and will try again tom)
