.sidenav-container {
  width: auto;
  height: 1080px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.sidenav-content {
  display: flex;
  overflow: hidden;
  height: 100%;
  align-items: left;
  padding-top: 10px;
}

.sidenav {
  padding: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.example-button-row {
  display: table-cell;
  width: 80px;
  padding-left: 8px;
  padding-right: 3px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 8px;
  //color: white;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

table {
  align-items: center;
  width: 100%;
  padding: 20px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.mat-sorta {
  align-items: center;
  width: 100%;
  padding: 10px;
}

th.mat-sort-header-sorted {
  color: black;
}

.demo-button-container {
  padding-bottom: 5px;
}